<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/books.css">
</head>
<body>
  <h1 class="judul"><a href="/">BooForSavior</a></h1>
  <h2>Books I've <span> READ</span></h2>
  <p class="message-books">Tiny summary but <span style="font-weight: bold;">detailed notes for each.</span> Use the ISBN number to find it from your local library or anywhere else. <span style="font-weight: bold;">This page will constantly update as I read more</span>, so bookmark it if you want to check back in a few months.</p>

  <form action="/addBooks" method="post">
    <input type="submit" name="add" id="tab" value="add book" style="padding: 0.6rem; margin-top: 1.2rem;">
  </form>

  <hr style="margin-top: 3rem; margin-bottom: 4rem;">

  
    <%if (locals.item){%>
      <%for (let i = 0  ;i<item.length;i++){%>

        <div class="item-box">
          <img src="<%= item[i].cover_image_url%>" alt="" class="image-item">
          <div>
            <h1 class="title-item"><a href="books/<%= item[i].isbn%>"><%= item[i].title%></a></h1>
            <p>author : <%= item[i].author%></p>
            <p>isbn : <%= item[i].isbn%></p>
            <span> review : <%=item[i].review %></span>

            <form action="/delete" method="post">
              <!-- Hidden input untuk mengirimkan ID item -->
              <input type="hidden" name="deleteItemId" value="<%= item[i].id %>">
    
              <!-- Tombol submit untuk menghapus, dengan label 'Delete' -->
              <input class="deleteButton" type="submit" value="Delete">
            </form>
          </div>
        </div>
        <%}%>
    <%}%>
  
 
</body>
</html>