<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %> - Book Details</title>
</head>
<body>
    <h1><%= book.title %></h1>
    <p><strong>Author(s):</strong> 
        <% book.authors.forEach(author => { %>
            <span><%= author.name %></span>
        <% }) %>
    </p>
    <p><strong>Publisher(s):</strong> 
        <% book.publishers.forEach(publisher => { %>
            <span><%= publisher.name %></span>
        <% }) %>
    </p>
    <p><strong>Published Date:</strong> <%= book.publish_date %></p>
    <p><strong>Number of Pages:</strong> <%= book.number_of_pages %></p>
    <p><strong>Description:</strong> <%= book.notes || 'No description available' %></p>
    
    <h3>Cover</h3>
    <img src="<%= book.cover.large %>" alt="<%= book.title %> cover">

    <h3>Additional Information</h3>
    <ul>
        <li><strong>Identifiers:</strong> LibraryThing: <%= book.identifiers.librarything %>, Goodreads: <%= book.identifiers.goodreads %>, isbn : <%= book.identifiers.isbn_10 || "ISBN not available"%></li>
    </ul>

    <a href="<%= book.url %>">More details on Open Library</a>
</body>
</html>
