<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/specificBooks.css">
    <title><%= book.title %> - Book Details</title>
</head>
<body>
    
    <section class="section-1">
        <div class="left-section1">
            <h1 class="book-title"><%= book.title %> &#183 <% book.authors.forEach(author => { %>
                <span><%= author.name %></span>
            <% }) %> </h1>
            <p class=""><a href="<%= book.url %> " class="book-url">More details on Open Library</a></p>
            <div class="book-atribut">
                <ul>
                    <li>
                        <p>publisher : </p>
                        <p>
                        <% book.publishers.forEach(publisher => { %>
                        <span><%= publisher.name %></span>
                    <% }) %>
                    </p>
                    </li>
                    <li>
                        <p>publish date : </p>
                        <p><%= book.publish_date %></p>
                    </li>
                    <li>
                        <p>isbn :</p> 
                        <p><%= book.identifiers.isbn_10 || "ISBN not available"%> </p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- cover buku -->
        <img src="<%= book.cover.large %>" alt="<%= book.title %> cover" class="book-cover">
    </section>

   <section class="section-2">
    <h1>"booForSavior"</h1>
    <p>by : reihan.achmd &#169; 2024</p>
   </section>
</body>
</html>
